<strong>Olá, {{ provider }}!</strong>
<p>Houve um cancelamento de horário!</p>
<p>Detalhe do cancelamento:</p>
<p>
  <strong>Cliente:</strong> {{ user }} <br />
  <strong>Dia e Horário agendado: </strong> {{ date }} <br />
  <small style="color: #338033;">
    O horário está disponível novamente para novos agendamentos.
  </small>
</p>
